@media (max-width:480px){
    /**/
    section{
        padding: 60px 0;
        display: block;
        position: relative;
    }
    .section-header{
        position: relative;
        display: block;
        margin-bottom: 50px;
    }
    .section-header::before{
        position: absolute;
        content: " ";
        background: url("../img/pattern-top01.png");
        width: 200px;
        top: -40px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section1-banner {
        background-image: url("../img/price-banner.jpg");
        background-size: cover;
        background-position: 100% 100%;
    }
    .section-header h2{
        font-family: 'TheSans-8ExtraBold';
        font-size: 54px;
        line-height: 45px;
        text-align: center;
        color: #000;
        margin: 0;
        text-transform: uppercase;
        padding-top: 20px;
    }
    .section2 .icon-header {
        width: 60%;
        margin: 0 auto;
        display: block;
        padding: 20px 0 40px;
    }
    .arrow-down {
        width: 40px;
        height: 30px;
        margin: 0 auto;
        display: table;
    }
    .arrow-down img {
        width: 100%;
    }
    .numbers {
        margin: 0 auto;
        width: 100px;
        border: 5px dotted #4a4435;
        border-radius: 50%;
        height: 100px;
        display: flex;
    }
    .numbers span {
        text-align: center;
        width: 100%;
        float: none;
        vertical-align: middle;
        color: #4a4435;
        font-family: TheSans-8ExtraBold;
        font-size: 75px;
        line-height: 65px;
    }
    .heading-cm::before {
        position: absolute;
        content: " ";
        background: url(../img/pattern-top01.png);
        width: 200px;
        top: -60px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .heading-cm {
        font-family: TheSans-8ExtraBold;
        color: #4a4435;
        font-size: 50px;
        text-align: center;
        margin: 100px 0 0;
        position: relative;
        padding-bottom: 25px;
    }
    .section-content .icon-one {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .paragraph-cm {
        padding: 20px 0 0;
        font-family: 'TheSans-5Regular';
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #120e0f;
        margin: 0 auto;
        width: 100%;
    }
    .section-content .icon-two {
        width: 85%;
        margin: 0 auto;
        display: block;
    }
    .section-content .icon-three {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .section-content .icon-four {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    .section-content .icon-five {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

@media (max-width:360px){
    .section-header::before {
        width: 160px;
        height: 26px;
        background-size: contain;
    }
    .heading-cm::before {
        width: 160px;
        height: 26px;
        background-size: contain;
    }
}