body {
    background-color: #c6c6c8;
}
@media (max-width:480px){
    /**/
    section{
        padding: 60px 0;
        display: block;
        position: relative;
    }
    .section-header{
        position: relative;
        display: block;
        margin-bottom: 50px;
    }
    .section-header::before{
        position: absolute;
        content: " ";
        background: url("../img/pattern-top01.png");
        width: 200px;
        top: -40px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section1-banner {
        background-image: url(../img/relevant-banner.jpg);
        background-size: cover;
         background-position: 100% 100%; 
        height: 620px;
    }
    .section-header h2{
        font-family: 'TheSans-8ExtraBold';
        font-size: 54px;
        line-height: 45px;
        text-align: center;
        color: #ffffff;
        margin: 0;
        text-transform: uppercase;
        padding-top: 20px;
    }
    .custom-text02 {
        font-size: 35px;
        line-height: 30px;
        font-family: 'TheSans-6SemiBold';
    }
    .section-para {
        margin-top: -1px;
        background-color: #c6c6c8;
        padding: 60px 20px 40px;
    }
    .section-para p {
        padding-top: 30px;
        font-family: 'TheSans-5Regular';
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
    .arrow-down {
        width: 40px;
        height: 30px;
        margin: 0 auto;
        display: table;
    }
    .arrow-down img {
        width: 100%;
    }
    .numbers {
        margin: 0 auto;
        width: 100px;
        border: 5px dotted #0952a5;
        border-radius: 50%;
        height: 100px;
        display: flex;
    }
    .numbers span {
        text-align: center;
        width: 100%;
        float: none;
        vertical-align: middle;
        color: #0952a5;
        font-family: TheSans-8ExtraBold;
        font-size: 75px;
        line-height: 65px;
    }
    .numbers::after {
        position: absolute;
        content: " ";
        background: url(../img/pattern-top01.png);
        width: 200px;
        top: 190px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-content p{
        padding: 20px 0 0;
        font-family: 'TheSans-5Regular';
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #120e0f;
        margin: 0 auto;
        width: 100%;
    }
    .custom-text {
        font-family: 'TheSans-8ExtraBold';
    }
    .section-content .icon-cm {
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-top: 90px;
    }
    .section-content .icon-three {
        width: 90%;
        margin: 0 auto;
        display: block;
        margin-top: 90px;
    }
}

@media (max-width:360px){
    .section-header::before {
        width: 160px;
        height: 26px;
        background-size: contain;
    }
    .numbers::after {
        width: 160px;
        height: 26px;
        background-size: contain;
    }
}